#header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;

    #nav {
        background: rgba(255, 255, 255, 1);

        .nav_area {
            display: flex;
            justify-content: space-between;
            padding: 15px 0;
            align-items: center;

            li {
                .portfolio {
                    cursor: pointer;

                    .logo {
                        width: 76px;
                    }
                }

                .menu {
                    display: flex;
                    gap: 14px;

                    li {
                        position: relative;

                        &:not(:last-child)::after {
                            content: "";
                            position: absolute;
                            width: 2px;
                            height: 12px;
                            background: #F17413;
                            top: 7px;
                            right: -8px;
                        }

                        .menu_list {
                            display: block;
                            cursor: pointer;
                            transition: .2s ease-in-out;
                            font-size: 1.12rem;
                            font-weight: 400;
                            color: #147b8e;

                            &:hover {
                                color: #fac116;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1050px) {
    #header {
        .container {
            padding: 0 50px;
        }
    }
}

@media screen and (max-width:550px) {
    #header {
        .container {
            padding: 0 30px;
        }
        #nav {
            .nav_area {
                flex-direction: column;
                gap: 10px;
            }
        }
    }
}